<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ title }}</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/8.1.1/adapter.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="res/js/janus.js"></script>
    <script type="text/javascript" src="res/js/frontend.js"></script>
    <link type="text/css" rel="stylesheet" href="res/css/frontend.css" />
  </head>
  <body>
    <div class="wrapper">
      <video class="stream" style="object-fit: fill;" playsinline></video>
    </div>
  </body>
</html>
